body{
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Figtree', serif;
}

.success-overlay{
    background-color: #2A3647;
    color: #CACDD1;
    padding: 20px;
    border-radius: 10px;
    margin-top: 380px;
}