h1 {
    color: yellow;
}

body {
    display: flex;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F6F7F8;
}

.inputSection {
    display: flex;
    gap: 16px;
}

.addTask {
    padding-left: 92px;
    padding-right: 92px;
    font-size: 20px;
}

.addTask h2 {
    font-size: 72px;
    padding-top: 92px;
    padding-bottom: 46px;
}

.seperator {
    margin-top: 30px;
    height: 432px;
    width: 1px;
    background-color: #dbdbdb96;
}

.inputLeft {
    display: flex;
    flex-direction: column;
}

.addTask input,
textarea,
select {
    font-size: 20px;
    font-weight: 400;
    width: 440px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 10px 16px;
    margin-top: 8px;
    background-color: white;
}

.addTask select {
    width: 480px;
}

#description {
    height: 80px;
}

#datePlaceholder {
    color: #dbdbdb96;
}

#subtasks {
    padding-right: 24px;
}

.inputRight {
    display: flex;
    flex-direction: column;
}

.inputSection label {
    padding-top: 32px;
    font-size: 24px;
    color: #2A3647;
}

.addTask button {
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 16px;
    margin-right: 8px;
    border: 1px solid #D1D1D1;
    background-color: white;
}

#prio {
    display: flex;
    margin-top: 8px;
    width: 482px;
}

#prio button {
    flex: 1;
}

#date {
    width: 408px;
}

.required {
    color: #FF8190;
}

::placeholder {
    color: #D1D1D1;
}

#requiredInfo {
    padding-left: 92px;
}

.createAndClear{
    margin-top: 36px;
    padding-left: 740px;
}

