h1 {
    color: yellow;
}

body {
    display: flex;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.inputSection {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.addTask{
    padding-left: 92px;
    padding-right: 92px;
}

.addTask h2 {
    font-size: 72px;
    padding-top: 92px;
    padding-bottom: 46px;
}

.seperator {
    height: 240px;
    width: 2px;
    background-color: grey;
}

.inputLeft {
    display: flex;
    flex-direction: column;
}

.inputRight {
    display: flex;
    flex-direction: column;
}

.inputSection label{
    padding-top: 32px;
}