/* sidebar */
@media (max-width: 1510px) and (min-width:951px) {

    .sideBar {
        min-width: 220px;
    }
}

@media (max-width: 950px) {

    body {
        flex-direction: column-reverse;
        overflow: unset;
        height: 100vh;
    }

    .mainContent {
        overflow-y: scroll;
    }
}


/* main content */
@media (max-width: 1510px) and (min-width:1315px) {

    .sideBar {
        min-width: 220px;
    }

    .addTask {
        padding-left: 92px;
    }

}

@media (max-width: 1314px) and (min-width:951px) {
    .addTask {
        padding-left: 120px;
        overflow-y: scroll;
    }

    .seperator {
        display: none;
    }

    .input-Section {
        display: block;
    }

    .form-date {
        margin-top: 16px;
    }

    .button-and-text {
        padding-top: 22px;
        margin-bottom: 32px;
        width: 436px;
        align-items: center;
    }

    .form-buttons {
        padding-top: 0;
    }

    #required-text {
        padding-top: 0px;
    }

}

@media (max-width: 950px) {

    .sideBar {
        min-width: 220px;
    }

    .addTask {
        padding-left: 0px;
        padding-right: 0px;
        overflow-y: scroll;
    }

    .addTask h2 {
        margin-top: 85px;
        padding-left: 8%;
        position: fixed;
        z-index: 1;
        padding-top: 32px;
        background-color: #F6F7F8;
        width: 100%;
        padding-bottom: 0;
    }

    .seperator {
        display: none;
    }

    #required-text {
        margin-left: 6px;
    }

    .input-Section {
        display: block;
        margin-top: 212px;
    }

    label {
        align-self: start;
        margin-left: 18px;
    }

    .inputLeft {
        margin: 0;
    }

    .inputRight {
        margin: 0;
        margin-top: 18px;
    }

    /* title */
    .form-title {
        align-items: center;
        width: 320px;
        margin-right: auto;
        margin-left: auto;
    }

    #title {
        width: 260px;
    }

    /* description */
    .form-description {
        align-items: center;
        width: 320px;
        margin-right: auto;
        margin-left: auto;
    }

    #description {
        width: 280px;
    }

    /* contacts */
    .form-assigned-to {
        align-items: center;
        width: 320px;
        margin-right: auto;
        margin-left: auto;
    }

    #assigned-to {
        width: 280px;
    }

    .contact-list {
        width: 312px;
    }

    .custom-resize {
        bottom: 8px;
        right: 14px;
    }

    /* date */
    .form-date {
        align-items: center;
        width: 320px;
        margin-right: auto;
        margin-left: auto;
    }

    #due-date {
        width: 280px;
    }

    /* prio */
    .form-priority {
        align-items: center;
        width: 320px;
        margin-right: auto;
        margin-left: auto;
    }

    #priority {
        width: 310px;
        gap: 6px;
        margin-left: auto;
        margin-right: auto;
    }

    .radio-container {
        margin-left: 0;
    }

    /* category */
    .form-category {
        align-items: center;
        width: 320px;
        margin-right: auto;
        margin-left: auto;
    }

    #category {
        width: 310px;
    }

    .custom-arrow-category {
        right: 28px;
    }

    /* subtasks */
    .form-subtask {
        align-items: center;
        width: 310px;
        margin-right: auto;
        margin-left: auto;
    }

    #subtask {
        width: 195px;
    }

    .edit-position {
        margin-left: auto;
        margin-right: auto;
    }


    #editItemOne {
        width: 224px;
    }

    #editItemTwo {
        width: 224px;
    }

    #addedSubtask {
        margin-left: auto;
        margin-right: auto;
        width: 320px;
    }

    /* buttons */
    .button-and-text {
        display: block;
        padding-top: 0;
        margin-bottom: 0;
        width: 100%;
    }

    .form-buttons {
        padding-top: 12px;
        position: fixed;
        bottom: 72px;
        background-color: #F6F7F8;
        width: 100%;
        height: 60px;
        text-align: center;
    }

    #required-text {
        padding-top: 12px;
        height: 100px;
        text-align: center;
    }

    .submit-card {
        position: absolute;
        bottom: 0;
    }
}