
body {
    display: flex;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F6F7F8;
}

h1 {
    font-size: 61px;
    font-weight: 700;
    color: black;
}

.firstContent {
    padding-top: 80px;
}

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
}

.header-right {
    display: flex;
    gap: 30px;
    padding-right: 80px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    padding: 8px 12px;
    background-color: white;
    width: 312px;
    position: relative;
}

.separator {
    width: 1px; 
    height: 30px; 
    background-color: #A8A8A8; 
    margin-left: 5px; 
    margin-right: 5px;
}


.findTaskInput {
    border: none;
    outline: none;
    font-size: 21px;
    width: 100%;
    color: #A8A8A8;
    padding-left: 5px; 
    background: none; 
}

.findTaskInput::placeholder {
    color: #D2D2D2;
}

.findTaskInput:focus {
    border: none;
    outline: none;
}

.search-icon {
    width: 34px;
    height: 34px;
    margin-left: 8px;
    cursor: pointer;
}

.addTaskButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    width: 160px;
    height: 48px;
    border-radius: 10px;
    border: none;
    padding: 8px 16px;
    padding-right: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease-in, transform 0.2s ease-in;
}

.addTaskButton:hover {
    transform: 0.2s ease-in;
    background-color: #29ABE2;
    color: white;
    padding: 8px 16px;
    padding-right: 25px;
    font-size: 21px;
}

.title-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    padding: 20px 64px;
}

.kanban-board {
    max-height: calc(100vh - 200px); 
    overflow-y: auto;
    display: flex;
    align-items: flex-start; 
    justify-content: space-around; 
    gap: 50px;
    padding: 50px 64px;
}

.kanban-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 23%;
    box-sizing: border-box;
}

.titles {
    color: #2A3647;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.awaitButton , .inProgressButton , .toDoButton{
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2A3647;
    border-radius: 8px;
    color: #2A3647;
}

.awaitButton:hover, .inProgressButton:hover, .toDoButton:hover {
    border-color: #29ABE2;
    color: #29ABE2;
}

.noTitleButton {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.task-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 500px;
}

.task {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
    border-radius: 24px;
    cursor: pointer;
    width: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.task-name {
    padding-top: 20px;
    color: black;
    font-weight: bold;
}

.task-description {
    color: rgba(96, 96, 96, 0.485);
}

.task-title {
    background-color: #1500ff;
    display: inline;
    padding: 5px 8px;
    border-radius: 24px;
    font-size: 13px;
    font-weight: 200;
    color: #ffffff;
}

.task p {
    margin: 5px 0;
    font-size: 14px;
}

.technical-task {
    background-color: #1FD7C1;
    display: inline;
    padding: 5px 8px;
    border-radius: 24px;
    font-size: 13px;
    font-weight: 200;
    color: #ffffff;
}

.noTask {
    text-align: center;
    font-size: 14px;
    color: #A8A8A8;
    background-color: #bbbbbb39;
    border: 2px dotted #D2D2D2;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

.subtask-progress-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.progress-bar {
    flex: 1;
    height: 8px;
    background-color: #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #29ABE2;
    transition: width 0.3s ease-in-out;
}

.subtask-info {
    font-size: 12px;
    color: #000000;
    white-space: nowrap;
}

.contactUrgent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mediumUrgent {
    width: 15px;
    height: 8px;
}

.highUrgent{
    width: 15px;
    height: 10px;
}

.lowUrgent{
    width: 15px;
    height: 10px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
}

.overlayInput, .textArea {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.saveButton {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.cancelButton {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.saveButton[type="submit"] {
    background-color: #29ABE2;
    color: white;
    border: none;
}

.cancelButton[type="button"] {
    background-color: #ccc;
    color: white;
    border: none;
}