body {
    display: flex;
    overflow: hidden;
    font-size: 16px;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F6F7F8;
}

.contact-container {
    display: flex;
}

.contact-list {
    background-color: white;
    padding: 32px 44px;
    min-width: 360px;
    width: 360px;
    height: 100vh;
    overflow: scroll;
    position: relative;
    margin-top: 1px;
    box-shadow: 4px -2px 12px #D1D1D1;
}

.contact-list img {
    height: 18px;
    width: 28px;
}

#addNewContact {
    position: fixed;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    border: none;
    background-color: #2A3647;
    height: 50px;
    width: 360px;
}

#addNewContact:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.directory {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: black;
    margin-top: 72px;
}

.letter {
    margin-left: 24px;
}

.contact-seperator {
    margin-top: 24px;
    height: 2px;
    width: 100%;
    background-color: #bec3c960;
    border-radius: 16px;
}

.contactPos {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 8px;
}

.contactPos:hover {
    background-color: #bec3c960;
    cursor: pointer;
}

.contactInitals {
    width: 30%;
}

.contactInitals p {
    background-color: royalblue;
    border: 2px solid white;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.contactName {
    width: 70%;
}

.contactName p {
    margin-bottom: 6px;
}

.contact-email {
    color: #007CEE;
}

.singleContact{
    display: flex;
}

.contact-headline{
    padding-left: 56px;
    margin-top: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.singleContactSeperator{
    height: 60px;
    width: 4px;
    background-color: #29ABE2;
    border-radius: 16px;
}

.singleContact h2{
    font-size: 60px;
}