p {
    margin: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    margin-top: 0px;
    margin-left: 233px;
    padding: 97px 0 0 0;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    width: 100%;
    height: auto;
}

.sidebarcontact {
    background-color: #ffffff;
    padding: 10px;
    overflow-y: auto;
    height: calc(100vh - 80px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.contact-list {
    width: 100%;
    font-size: 14px;
    color: #333;
}

.contact-group {
    margin-bottom: 20px;
}

.group-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    margin-left: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.contact-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    color: white;
}

.contact-item:focus {
    background-color: #2A3647;
    outline: none;
}

.contact-item:focus .contact-name {
    color: white; 
    outline: none;
}

.contact-item:focus .contact-icon {
    border: 1px solid rgb(255, 255, 255); 
}

.contact-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
}

.contact-icon-border {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255); 
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-right: 10px;
}

.contact-details {
    display: flex;
    flex-direction: column;
}

.details-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
}

.contact-name {
    font-weight: bold;
    color: #333;
    margin: 0;
}

.contact-email {
    font-size: 12px;
    color: #29ABE2;
}

.details {
    flex: 1;
    background-color: #F6F7F8;
    margin-left: 10px;
    margin-top: 40px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;

}

.details-title {
    font-size: 40px;
}

.details-title-span {
    font-size: 16px;
    font-weight: 500;
}

.contact-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-info-div {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

.contact-actions {
    margin-bottom: 20px;
}

.color {
    background-color: #2a3d59;
}

.contact-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-buttons {
    display: flex;
    gap: 10px;
}

.contact-btn img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.contact-btn:hover {
    color: #29ABE2;    
}

.contact-btn:hover img {
    filter: invert(64%) sepia(75%) saturate(483%) hue-rotate(175deg) brightness(96%) contrast(92%);
}

.divider {
    width: 2px;
    height: 40px;
    background: #29ABE2;
    margin: 0 10px;
}

.divider-contact {
    width: 100%;
    height: 1px;
    background: #000000;
    margin: 8px 0px;
}

.contact-info {
    margin-top: 20px;
    margin-left: 2px;
}
   
.contact-info-mag {
    margin-bottom: 35px;
}

.contact-info-mag p{
    font-weight: bold;
    margin-top: 10px;
}

.contact-info-mp p {
    margin-top: 10px;
}
   
.contact-info-mail {
    color: #29ABE2;
    cursor: default;
}

.contact-bold {
    font-weight: bold;
}

.edit-delete-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100vw;
    z-index: 1020;
    padding: 0;
    margin: 0;
    transition: all 0.25s ease-in-out;
}

.contact-pop-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90px;
    height: 70px;
    position: absolute;
    bottom: 88px;
    right: 0;
    list-style: none;
    background-color: var(--bg);
    padding: 10px;
    border-radius: 15px 15px 0 15px;
    border: 1px solid var(--grey);
    margin: 10px 5px 0 10px;
    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.2);
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 4px;
}

input.error {
    border-color: red;
}

.overlay-successfull {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: -100vw;
    right: 0;
    z-index: 1000;
    transition: all 0.25s ease-in-out;
    background-color: #33333353;
}

.overlay-suess-contact {
    top: 0;
    bottom: 0;
}

.suess-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgrey);
    padding: 10px 20px;
    border-radius: 15px;
    gap: 10px;
    color: var(--item-color);
}