.helpDisplay {
    display: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-overlay {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    display: flex;
	flex-direction: row;
    width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.342);
    overflow: hidden;
}

.popup-form {
	padding-top: 10px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 40px;
}

.add-contact-icon {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255); 
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-right: 10px;
}

.add-contact-icon img {
    height: 50px;
}

.add-contact-initials {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255); 
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-right: 10px;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}

.popup-left {
    background: #2A3647;
    color: #fff;
    padding: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.popup-left .logo {
    font-size: 24px;
    margin-bottom: 20px;
}

.logo img{
    height: 50px;
    width: 50px;
}

.divider-add-contact {
    width: 20%;
    height: 2px;
    background: #29ABE2;
    margin: 8px 0px;
}

.popup-left h1 {
    margin: 0 0 10px;
}

.popup-left p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
}

.popup-right {
    padding-right: 20px;
    padding-left: 20px;
    width: 60%;
    position: relative;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.popup-form .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.popup-form .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #b4b4b4;
    border-radius: 8px;
}

.showAddContact {
    display: flex !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #33333353;
}

.container {
		overflow-y: hidden;
	}
 .mobile-logo {
	padding-left: 16px; 
 }


@media (max-width: 970px) {

	.details-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
	}

	.details-wrapper .divider {
	height: 2px;
    width: 40px;
	}

}

@media (min-width: 951px) {
  .mobile-logo {
    display: none;
  }
}

/* Popup */
@media screen and (min-width: 0px) and (max-width: 950px) {
    .main-content {
        margin-left: 0 !important;
        height: 100%;
    }

	.helpDisplay {
        display: flex!important;
	}

	.mobile-logo {
	display: auto !important;
	}

    .popup-left {
        width: auto;
        padding-bottom: 70px;

    }
	
	.form-group {
		display: flex;
		flex-direction: column;
		margin-bottom: 8px;
		height: auto;
	}
	
	.close-btn-wrapper button {
		display: none;
	}
	
	.close-btn-wrapper {
        display: none;
    }
	
    .popup-right {
        width: auto;
        padding-right: 20px;
        padding-left: 20px;
    }

    .joinLogo {
        display: none !important;
    }

    .btn {
        gap: 35px;
        margin-top: 25px;
        margin-bottom: 20px;
        justify-content: center;
    }

    .cancel-btn, .create-btn {
        padding: 12px 12px;
    }

    .icon-wrapper {
        transform: translate(0, -50%);
        justify-content: center;
        margin-bottom: 0;
        margin-left: 0;
        height: 70px;
    }

    .close-btn-mobile {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
        width: 100%;
    }

    .top-right-button {
        display: block;
        position: fixed;
        right: 30px;
    }
	
	body {
		display: flex !important;
		flex-direction: column-reverse !important;
		overflow-y: default;
	}
	
}

/* Contact Main */
@media (max-width: 950px) {
	.help {
	display: none;
	}

	.d-none {
    display: none !important;
	}
   

   .btn-container-mobile {
        display: block;
        position: fixed; 
        right: 20px;
        bottom: 95px;
        z-index: 1;
    }

    .top-right-button {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .add-contact-button {
        display: none !important;
    }

    .sidebarcontact {
        flex: 1;
    } 

	.sideBar {
	width: 100%;
    padding: 0;
	padding-bottom: 4px;
	display: flex;
    flex-direction: column;
    justify-content: space-evenly !important;
    gap: 4px;
	position: absolute !important;
	bottom: 0 !important;
	height: 70px !important;
	z-index: 999
	}

	.topBar {
    height: 84px;
    min-height: 84px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 12px grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

	.topBar h3 {
		display: none !important;
	}

	.menuPos {
	display: flex;
	flex-direction: row !important;
	justify-content: space-evenly;
	gap: 0px !important;
	}
    
	.navMenu {
	flex-direction: column;
	}
	
	.menuDesc {
	display: flex;
	align-items: center;
	justify-content: center;
	}
	
	.navMenu img {
	display: flex;
	align-items: center;
	align-content: center;	
	padding-left: 0 !important;
	}
	
	.contact-list {
    background-color: white;
    height: 75vh!important;
	width: calc(100vw!-10px)!important;
    overflow: scroll;
    position: relative;
    margin-top: 1px;
	min-width: 100px !important;
	}
	
	.details {
        display: none !important;
        margin: 0;
        position: absolute;
		 flex: 1;
    background-color: #F6F7F8;
    padding: 10px;
    height: 100%;
    width: 95%
    }
	
	.lawSection {
		display: none !important;
	}
	
    .contact-info-div {
        flex: 1;
    }
    .details-title {
        font-size: 40px;
    }

    .mobile-popup {
		display: block !important;
		position: absolute;
		top: 45px;
		bottom: 90px;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: white;
		z-index: 2;
		overflow-y: auto;
		margin-left: 0px !important;
	}


    
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .btn-mobile-popup {
        display: flex;
        position: fixed; 
        right: 20px;
        bottom: 95px;
        z-index: 3;
    }

    .popup {
        flex-direction: column;
        width: 100%;
        margin: 20px;
        max-width: 500px;
		display: block;
        border-radius: 20px;
		max-height: 550px;
    }

	.popup-form .form-group input {
		width: 100%;
		padding: 6px;
		font-size: 12px;
	}

	.close-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
    margin-top: 20px;
	}
	
	.close-btn-mobile {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
	width: 100%;
	}
	
    .popup-left {
        width: 100%;
        padding-bottom: 60px;
		padding-top: 16px;
    }

    .contact-buttons {
        display: auto;
    }
	
	.icon-wrapper {
    transform: translate(0, -50%);
    justify-content: center;
    margin-bottom: 0;
    margin-left: 0;
    height: 40px;
	
}
	
@media (max-width: 420px) {
    .details-title {
        font-size: 20px;
    }

    .details-title-span {
        font-size: 12px;
        font-weight: 200;
    }

    .contact-name {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        margin: 0;
    }

    .details-title-span {
        font-size: 12px;
        font-weight: 200;
    }

	.popup {
        flex-direction: column;
        width: 100%;
        margin: 20px;
        max-width: 500px;
		display: block;
        border-radius: 20px;
		max-height: 95vh;
    }
	
	.cancel-btn {
    display: none;
	}

	.sideBar {
	height: 75px !important;
	}

.contact-list {
    background-color: white;
    height: 75vh!important;
    overflow: scroll;
    position: relative;
    margin-top: 1px;
	}

}

@media (max-width: 350px) {

.menuDesc {
   font-size: 12px!important;
}
}