
body {
    display: flex;
    overflow: hidden;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F6F7F8;
}

.legalNotice {
    padding-left: 180px;
    padding-right: 220px;
    overflow: scroll;
}

.legalNotice h1 {
    color: #2A3647;
    font-size: 60px;
    margin-top: 72px;
    padding-bottom: 24px;
}

.legalNotice h2 {
    color: #2A3647;
    margin-top: 44px;
    padding-bottom: 8px;
}

.legalNotice p {
    font-size: 16px;
    margin-bottom: 4px;
}

.legalNotice span{
    color: #29ABE2;
}

.legalNoticeText {
    padding: 8px;
}

.paddingTop{
    padding-top: 16px;
}

.legalNotice footer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 14px;
    color: #777;
}