/* Overlay Styling */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1; 
    animation: fadeOutOverlay 1.5s ease-in-out forwards;
}


/* Logo-Animation */
#animatedLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    object-fit: contain;
    object-position: center;
    z-index: 1000;
    animation: logoAnimation 1.5s ease-in-out 0.5s forwards;
}

/* Header-Logo Styling */
#headerLogo {
    animation: headerLogoFadeIn 1.5s forwards; 
}

/* Keyframes für die Logo-Bewegung */
@keyframes logoAnimation {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 50vw;
        height: 50vh;
    }

    100% {
        top: 50px;
        left: 50px;
        transform: translate(0, 0) scale(1);
        width: 100px;
        height: 120px;
    }
}

/* Keyframes für Content-Einblendung */
@keyframes fadeInContent {
    0% {
        opacity: 5; 
    }
    100% {
        opacity: 1;
    }
}


/* Keyframes für Header-Logo-Einblendung */
@keyframes headerLogoFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
