/* Popup */
@media screen and (min-width: 0px) and (max-width: 827px) {
    .main-content {
        margin-left: 0 !important;
        height: 100%;
    }

    .popup {
        width: 300px;
        display: block;
        border-radius: 20px;
    }

    .popup-left {
        width: auto;
        padding-bottom: 70px;

    }

    .popup-right {
        width: auto;
        padding-right: 20px;
        padding-left: 20px;
    }

    .logo {
        display: none;
    }

    .cancel-btn {
        display: none;
    }

    .close-btn-wrapper {
        display: none;
    }

    .btn {
        gap: 35px;
        margin-top: 25px;
        margin-bottom: 20px;
        justify-content: center;
    }

    .cancel-btn, .create-btn {
        padding: 12px 12px;
    }

    .icon-wrapper {
        transform: translate(0, -50%);
        justify-content: center;
        margin-bottom: 0;
        margin-left: 0;
        height: 70px;
    }

    .close-btn-mobile {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
        width: 100%;
    }

    .top-right-button {
        display: block;
        position: fixed;
        right: 30px;
    }
}

/* Contact Main */
@media screen and (min-width: 0px) and (max-width: 827px) {
    .btn-container-mobile {
        display: block;
        position: fixed; 
        right: 20px;
        bottom: 95px;
        z-index: 3;
    }

    .top-right-button {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .add-contact-button {
        display: none !important;
    }

    .sidebarcontact {
        flex: 1;
    } 

    .details {
        display: none;
        margin: 0;
        position: absolute;
    }

    .contact-info-div {
        flex: 1;
    }
    .details-title {
        font-size: 40px;
    }

    .mobile-popup {
        display: block !important;
        position: absolute;
        top: 100px;
        bottom: 90px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 2;
        overflow-y: auto;
    }
    
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .btn-mobile-popup {
        display: none;
        position: fixed; 
        right: 20px;
        bottom: 95px;
        z-index: 3;
    }

    .popup {
        flex-direction: column;
        width: 100%;
        margin: 20px;
        max-width: 500px;
    }

    .popup-left {
        width: 100%;
        padding-bottom: 70px;
    }

    .contact-buttons {
        display: none !important;
    }
}

@media (max-width: 420px) {
    .details-title {
        font-size: 20px;
    }

    .details-title-span {
        font-size: 12px;
        font-weight: 200;
    }

    .contact-name {
        font-size: 20px;
        font-weight: bold;
        color: #333;
        margin: 0;
    }
}
