@media (max-width: 950px) {

    .joinLogo {
        display: none;
    }

    .sideBar {
        height: 62px;
        background-color: #2A3647;
        position: relative;
        min-width: unset;
        padding: 8px;
    }

    .lawSection {
        display: none;
    }

    .menuPos {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:0;
    }

    .navMenu {
        flex-direction: column;
        width: 85px;
    }

    .navMenu img {
        padding-left: 0px;
      }

      .active {
        border-radius: 18px;
      }
}

@media (max-width: 400px) {

    .sideBar {
        height: 56px;
        padding: 8px;
    }

    .navMenu {
        flex-direction: column;
        width: 62px;
        font-size: 15px;
    }

    .navMenu img {
        height: 22px;
        width: 22px;
      }

}