html,
body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 247, 248);
    font-family: 'Figtree', serif;
}

.logo-header-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 30px;
    margin-left: 20px;
}

.logo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    z-index: 1;
}

.headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 16px;
}

h1 {
    font-size: 61px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.horizontal-line {
    height: 3px;
    width: 118px;
    background-color: rgb(41, 171, 226);
    border-radius: 10px;
}

.signUp-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.signUp-button {
    background-color: rgb(42, 54, 71);
    color: white;
    cursor: pointer;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    border: 1px solid;
    font-size: 15px;
    margin-bottom: 20px;
}

.signUp-container {
    position: relative;
    width: 502px;
    height: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    margin: 50px auto 0px;
    border-radius: 30px;
}

input {
    padding-right: 50px;
    width: 70%;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 16px;
    outline: none;
    cursor: pointer;
}

input:focus {
    border-color: rgb(41, 171, 226);
    border-width: 2px;
}

.error-message {
    display: flex;
    justify-content: center;
    color: #ff00009e;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-with-person-icon {
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 24 24"%3E%3Cpath d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.33-8 4v2h16v-2c0-2.67-5.33-4-8-4z"/%3E%3C/svg%3E') no-repeat right 16px center;
    background-size: 20px;
    font-size: 15px;
}

.input-with-letter-icon {
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 24 24"%3E%3Cpath d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM4 6h16v2l-8 5-8-5V6zm0 12V9l8 5 8-5v9H4z"/%3E%3C/svg%3E') no-repeat right 16px center;
    background-size: 20px;
    font-size: 15px;
}

.input-with-eye-icon {
    background: url('../assets/img/lock-password.png') no-repeat right 16px center;
    background-size: 20px;
    padding-right: 40px;
    font-size: 15px;
    cursor: pointer;
}

.input-with-eye-icon-active {
    background: url('../assets/img/hide.png') no-repeat right 16px center;
    background-size: 20px;
    padding-right: 40px;
    font-size: 15px;
    cursor: pointer;
}

.input-with-eye-icon-clicked {
    background: url('../assets/img/eye.png') no-repeat right 16px center;
    background-size: 20px;
    padding-right: 40px;
    font-size: 15px;
    cursor: pointer;
}

.checkbox-input {
    width: 15px;
    height: 15px;
}

.back-button {
    position: absolute;
    top: 50px;
    left: 40px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #c1c1c1a9;
    border-radius: 30px;
}

.login-button:hover {
    background-color: #29ABE2;
    color: white;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.01) translateZ(10px);
}

.guestLogin-button:hover {
    color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.01) translateZ(10px);
}

.signUp-button:hover {
    background-color: #29ABE2;
    color: white;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.01) translateZ(10px);
}

.checkbox {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 7px;
}

.accept-policy {
    text-decoration: none;
    color: #29aae28e;
}

.accept-policy:hover {
    text-decoration: underline;
    color: #29ABE2;
}

.incorrect input {
    border-color: #ff00009e;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 35px;
    cursor: pointer;
}

.footer-content {
    color: #A8A8A8;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 16px;
}

.footer-content:hover {
    color: #29ABE2;
    transform: scale(1.01) translateZ(10px);
}

.successOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay-content {
    background-color: #2A3647;
    font-size: 20px;
    color: #CACDD1;
    padding: 20px;
    border-radius: 20px;
    transform: translateY(100%);
    animation: pop-up 1s ease-out forwards;
}

@keyframes pop-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 980px) {
    .logo-header-container {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 750px) {
    .signUp-container {
        width: 350px;
        margin: 100px auto 0px;
    }

    h1 {
        font-size: 51px;
    }

    .back-button {
        left: 25px;
    }

    input {
        width: 90%;
    }

    .overlay-content {
        font-size: 17px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 41px;
    }

    .logo-header-container {
        width: 60px;
        height: 60px;
    }

    .overlay-content {
        font-size: 15px;
    }

    .input-container {
        gap: 10px;
    }

    .error-message {
        margin-left: 10px;
        margin-right: 10px;
        padding: 8px;
        font-size: 13px;
    }

    footer {
        margin-top: 20px;
    }

}

@media (max-width: 400px) {
    .signUp-container {
        width: 280px;
    }

    .back-button {
        left: 20px;
        width: 25px;
        height: 25px;
    }

    .logo-header-container {
        margin-top: 20px;
        margin-left: 10px;
    }

    .checkbox {
        gap: 0px;
    }
}