::-webkit-scrollbar { display: none; }

body {
    display: flex;
    overflow: scroll;
}

.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F6F7F8;
}

.summary {
    padding-left: 180px;
    padding-top: 72px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.summaryContent{
display: flex;

}

.summaryHeadline {
    display: flex;
    align-items: center;
    gap: 32px;
    height: 90px;
}

.summary h2 {
    font-size: 60px;
}

.seperatorHeadline {
    padding-top: 12px;
    height: 72px;
    width: 4px;
    background-color: #29ABE2;
    border-radius: 6px;
}

.seperatorHeadlineRespo{
    display: none;
}

.headlineText {
    font-size: 28px;
    color: #2A3647;
}

.taskCards {
    padding-top: 72px;
}

/* --------------- To Do and Done ------------------ */

.toDoAndDone {
    height: 180px;
    width: 550px;
    display: flex;
    gap: 52px;
}

/*To Do */
.toDoCard {
    height: 160px;
    width: 244px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #2A3647;
    transition: transform 0.1s ease;
}

.toDoCard:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

.toDoCard:hover .toDoImg img {
    filter: invert(1) brightness(200%)
}


.toDoPos {
    font-size: 22px;
    text-align: center;
}

.toDoImg img {
    height: 60px;
}

#openToDos {
    font-size: 60px;
    font-weight: bold;
}

/*Done */
.doneCard {
    height: 160px;
    width: 244px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #2A3647;
    transition: transform 0.1s ease;
}

.doneCard:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

.doneCard:hover .doneImg img {
    filter: invert(1) brightness(200%)
}

.donePos {
    font-size: 22px;
    text-align: center;
}

.doneImg img {
    height: 60px;
}

#openDones {
    font-size: 60px;
    font-weight: bold;
}

/* --------------- Urgent Card ------------------ */

.urgentSection {
    height: 180px;
    width: 550px;
    margin-top: 8px;
}

.urgentCard {
    height: 160px;
    width: 540px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 24px;
    color: #2A3647;
    transition: transform 0.1s ease;
}

.urgentCard:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

.urgentCard:hover .urgentLeft {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

.urgentLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #2A3647;
    margin-left: 54px;
}

.urgentPos {
    font-size: 22px;
    text-align: center;
    margin-right: 22px;
}

.urgentImg img {
    height: 60px;
}

#openUrgents {
    font-size: 60px;
    font-weight: bold;
}

.urgentSeperator {
    height: 72px;
    width: 2px;
    background-color: #D1D1D1;
    border-radius: 6px;
}

#deadline{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 16px;
}

.urgentRight{
    margin-right: 24px;
    margin-left: 32px;
}

/* --------------- open Tasks------------------ */

.openTasks {
    height: 180px;
    width: 550px;
    display: flex;
    gap: 24px;
}

.totalTasks {
    height: 160px;
    width: 164px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #2A3647;
    transition: transform 0.1s ease;
}

.totalTasks:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

.totalTasksPos {
    font-size: 22px;
    text-align: center;
}

#openTotalTasks {
    font-size: 60px;
    font-weight: bold;
}

/* --------------- taks in Progress------------------ */

.tasksInProgress {
    height: 160px;
    width: 164px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #2A3647;
    transition: transform 0.1s ease;
}

.tasksInProgress:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

.inProgressPos {
    font-size: 22px;
    text-align: center;
}

#inProgress {
    font-size: 60px;
    font-weight: bold;
}

/* --------------- awaiting Feedback------------------ */

.feedbackTask {
    height: 160px;
    width: 164px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #2A3647;
    transition: transform 0.1s ease;
}

.feedbackTask:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

.feedbackTaskPos {
    font-size: 22px;
    text-align: center;
}

#awaitingFeedback {
    font-size: 60px;
    font-weight: bold;
}


/* --------------- greatings ------------------ */

.greeting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 82px;
}

#greetings{
font-size: 48px;
}

#loggedInName{
font-size: 60px;
font-weight: bold;
color: #29ABE2;
}


#allComplete{
    margin-top: 32px;
    font-weight: bold;

}