@media (max-width: 1510px) and (min-width:951px) {

    .topBar h3 {
        padding-left: 92px;
    }

}

@media (max-width: 950px) {

    .topBar h3 {
        display: none;
    }

    .help {
        display: none;
    }

    .topBar img {
        margin-left: 16px;
        display: block;
    }

    #helpDropdown{
        display: block;
    }

}