* {
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
	max-width: 1900px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-size: 16px;
    position: relative;
	display: flex;
	max-width: 1900px;
}

header {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 40px 20px 348px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    position: relative;
    z-index: 999;
}

header .h1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
}


.header-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 56px;
}

#profile {
    height: 56px;
    width: 56px;
    border: 3px solid #2A3647;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #29ABE2;
    font-weight: bold;
}

.mobile-logo {
    display: none;
}

#profile:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.info:hover {
    scale: 1.2;
    cursor: pointer;
}

#profile-pop-up {
    margin: 0;
    list-style: none;
    padding: 10px;
    position: absolute;
    top: 96px;
    left: 100vw;
    background-color: #2A3647;
    border-radius: 20px 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 150px;
    z-index: 1001;
    transition: all 0.25s ease-in-out;
}

.overlay-container {
    position: fixed;
    color: #121212;
    height: 100vh;
    width: 100vw;
    right: -100vw;
    z-index: 1000;
    padding: 0;
    margin: 0;
    transition: all 0.25s ease-in-out;
}

.into-view {
    left: calc(100vw - 166px) !important;
}

#profile-pop-up a {
    color: #CDCDCD !important;
    text-decoration: none;
}

#profile-pop-up li {
    padding: 8px;
}

#profile-pop-up li:hover {
    opacity: 0.9;
    cursor: pointer;
    background-color: #2A3D59;
    padding-left: 10px;
}

#help-li {
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 827px) {

    header .h1,
    .info {
        display: none;
    }

    .mobile-logo, #help-li {
        display: block;
    }

    header {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
        padding: 20px 16px;
    }

    #profile-pop-up {
        top: 84px;
    }

    #profile {
        height: 40px;
        width: 40px;
        font-size: 14px;
    }

    .into-view {
        left: calc(100vw - 158px) !important;
    }
}

.active {
    background: #091931 !important;
    padding-left: 56px !important;
}

aside {
    height: 100vh;
    min-width: 240px;
    background-color: #2A3647;
    position: relative;
}

.joinLogo {
    padding-top: 50px;
    padding-bottom: 146px;
    height: 120px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aside-logo {
    padding-top: 50px;
    padding-bottom: 146px;
    height: 316px;
    width: 100.33px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menuPos {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menuPos a {
    display: flex;
    align-items: center;
    height: 46px;
    color: #ffffff;
    text-decoration: none;
    gap: 8px;
    padding: 16px 56px;
}

.aside-nav a:hover {
    background: #2a3d59;
    padding-left: 60px;
}

.aside-imprint {
    position: absolute;
    bottom: 56px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 100%;
}

.aside-imprint a {
    color: #A8A8A8;
    padding-left: 66px;
    height: 32px;
    display: flex;
    align-items: center;
	text-decoration: none;
}

.aside-imprint a:hover {
    color: #29ABE2;
}

.sideBar {
    height: 100vh;
    min-width: 240px;
    background-color: #2A3647;
    position: relative;
}

.joinLogo {
    padding-top: 50px;
    padding-bottom: 146px;
    height: 120px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.active {
    background-color: #091931;
}

.menuPos {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.navMenu {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px;
    font-size: 16px;
}

.navMenu:hover {
    cursor: pointer;
    background-color: #2A3D59;
}

.navMenu img {
    padding-left: 56px;
}

.menuPos a {
    color: #CDCDCD;
}

.navMenu img {
    height: 28px;
    width: 28px;
}

.lawSection {
    position: absolute;
    bottom: 56px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 100%;
}

.lawSection a {
    color: #A8A8A8;
    padding-left: 66px;
    height: 32px;
    display: flex;
    align-items: center;
}

.lawSection a:hover {
    color: #29ABE2;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (min-width: 0px) and (max-width: 827px) {

    .aside-logo,
    .aside-imprint {
        display: none;
    }

    .active {
        padding: 0 !important;

    }

    aside {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80px;
        z-index: 1000;
        top: auto;
        left: 0;
        bottom: 0;
        padding: 0;
    }

    .aside-nav {
        width: 100%;
        padding: 0;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0px;
    }

    .aside-nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 76px;
        min-width: 66px;
        max-width: 76px;
        color: #ffffff;
        text-decoration: none;
        gap: 8px;
        padding: 0 2px !important;
        font-size: 14px;
        flex: 0 0 calc(100% / 5);
        border-radius: 16px;
    }

    .aside-nav svg {
       display: flex;
	   align-items: center;
	   height: 316px;
	   width: 100px;
    }
}