<div class="sideBar">

    <img class="joinLogo" src="./assets/img/Join-logo.png" alt="JoinLogo">

    <div class="menuPos">
        <div class="navMenu">
            <a href="./summary.html">
                <img src="./assets/img/summaryLogo.png" alt="summaryLogo">
                Summary</a>
        </div>
        <div class="navMenu  active">
            <a href="./addTask.html">
                <img src="./assets/img/addTaskLogo.png" alt="summaryLogo">
                Add Task</a>
        </div>
        <div class="navMenu">
            <a href="./board.html">
                <img src="./assets/img/BoardLogo.png" alt="summaryLogo">
                Board</a>
        </div>
        <div class="navMenu">
            <a href="./contacts.html">
                <img src="./assets/img/contactsLogo.png" alt="summaryLogo">
                Contacts</a>
        </div>
    </div>


    <div class="lawSection">
        <a href="./privacyPolicy.html">Privacy Policy</a>
        <a href="./legalNotice.html">Legal Notice</a>
    </div>
</div>