<div class="mainContent">
    <div class="topBar">
        <h3>Kanban Project Management Tool</h3>
        <div class="profile">
            <a href="./help.html" class="help">?</a>
            <p class="initials" id="profile-toggle">SM</p>
            <div class="dropdown" id="dropdown-menu">
                <ul>
                    <li><a href="./legalNotice.html">Legal Notice</a></li>
                    <li><a href="./privacyPolicy.html">Privacy Policy</a></li>
                    <li><a href="./logout.html">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- hier kommt der jeweilige Content rein. z.B addTask, Summary, Board... -->
    <div class="addTask">
        <div>
            <h2>Add Task</h2>
        </div>
    </div>